#Исключим директорию __pycache__ :
__pycache__/
#Исключим сам файл .gitignore:
.gitignore
# Содержимое всех папок с имененем:
logs/
 
# Все файлы с расширением (будьте осторожны):
*.dat
# Все файлы который начинаются на .
*/.*
.*

data/
dumps/
docs/
